# Virtual environments
venv/
.venv/
env/
ENV/
pyenv/

# Environment variables
.env
.env.*
*.env

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints and outputs
.ipynb_checkpoints/
*.ipynb

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
